/*  Hero  */

#section__hero{
    overflow: hidden;
    background-color: var(--color-primary);
    padding-top: calc(60px + 3%);
    background-image: url(/images/bg_yellow.svg);
    .column__2{
        position: relative;
        z-index: 1;
        .col__left{
            width: 60%;
            h1{
                color: var(--color-secondary);
            }
            h2{
                color: var(--color-secondary);
                text-transform: uppercase;
                font-size: var(--size-4xl);
                font-weight: 600;
            }
            h2 strong{
                color: var(--color-primary-light);
                font-weight: unset;
            }
            p{
                color: var(--color-secondary);
                font-size: var(--size-lg);
                line-height: 1.4;
            }
        }
    
        .col__right{
            width: 40%;
            align-items: center;
            justify-content: center;
        }
    }

    .pin-spacer{
        align-items: center !important;
        justify-content: center !important;
    }

    .img__hero{
        position: relative;
        z-index: 1;
        height: 100vh;
        width: 100%;
        align-items: center !important;
        justify-content: center !important;
        picture{
            height: 100%;
            width: 100%;
            object-fit: cover;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

.btn__hero{
    position: relative;
    z-index: 1;
}

.btn__hero img:first-child{
    position: relative;
    width: 100vw;
    height: auto;
    max-width: 230px;
}

.btn__circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn__circle img{
    width: 100%;
    height: 100%;
    animation-name: giraBtn;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#section__hero .column__3{
    margin-top: 60vh;
    height: 100vh;
    position: relative;
    z-index: 1;
    .col__left{
        width: 30%;
        gap: 50px;
        justify-content: space-between;
        padding: 0px 50px;
        img{
            height: calc(50% - 25px);
            width: 100%;
            object-fit: cover;
        }
    }
    .col__center{
        width: 40%;
    }
    .col__right{
        width: 30%;
        gap: 50px;
        justify-content: space-between;
        padding: 0px 50px;
        img{
            height: calc(50% - 25px);
            width: 100%;
            object-fit: cover;
        }
    }
} 

.sello{
    width:20vw;
    height:20vh;
    position:absolute;
    z-index:0;
    top:40vh;
    left:40vw;
    opacity:0.2;
}

.sello img{
    width:100%;
    height:100%;
    object-fit:contain;
    margin-left: -8px;
}

.vid__hero{
    height: 200vh;
    width: 100%;
}

.heroGallery{
    height: calc(50% - 50px);
    img{
        height: 100% !important;
        object-fit: cover;
    }
}

#video__inicio{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    
}

.titulo__creamos{
    position: absolute;
    width: 40vw;
    height: 40vh;
    bottom: -3px;
    left: 30vw;
    z-index: 2;
    margin-left: -10%;
    background-image: url(/images/inicio/title_creamos.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
}

#section__intro{
    padding: 10% 10% 5%;
    .titulo__habitat{
        position: absolute;
        width: 40vw;
        height: 40vh;
        top: 0;
        right: 30vw;
        z-index: 2;
        margin-right: -10%;
        background-image: url(/images/inicio/title_habitat.svg);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}


#section__sliders{
    background-color: var(--color-secondary-light);
    .intro__slider1{
        width:150vw;
        height:45vh;
        font-size:10vw;
        text-align:center;
        position:relative;
        transform:translatex(50vw);
        display:flex;
        flex-direction:row;
        align-items:flex-end;
        justify-content:stretch;
        gap:60px;
        margin-bottom:60px;
    }
    .intro__slider2{
        width:150vw;
        height:45vh;
        font-size:10vw;
        text-align:center;
        position:relative;
        transform:translatex(-50vw);
        display:flex;
        flex-direction:row;
        align-items:flex-start;
        justify-content:stretch;
        gap:60px;
    }
}

#section__arch{
    background-color: var(--color-secondary-light);
    padding: 0 0 5% 10%;
    .column__2{
        .col__left{
            width: 35%;
            justify-content: center;
            padding-right: 5%;
        }
        .col__right{
            width: 65%;
            
        }
    }
}



#section__recentProducts{
    background-color: var(--color-white);
    padding: 0% 0% 50px;
    .column__1{
        border-top: 0px solid #00000030;
        padding-top: 50px;
        h2{
            margin-bottom: 50px;
        }
        ul{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            grid-gap: 0px;
            grid-auto-rows: auto;
            li{
                padding: 15%;
                border-top: 2px solid var(--color-secondary-light);
                border-bottom: 2px solid var(--color-secondary-light);
                border-right: 2px solid var(--color-secondary-light);
                &:last-child{
                    border-right: 0px;
                }
            }
        }
        .btn{
            margin-top: 50px;
            align-self: center;
        }
    }
}


@keyframes giraBtn {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}



/*  Intro  */

#section__intro{
    overflow: hidden;
    background-color: var(--color-secondary-light);
}

#section__productos .column__1{
    border-top: 1px solid #ccc;
    padding-top: 5%;
}




















@media screen and (max-width: 1024px) {

    #section__hero{
        .column__2{
            width: 100%;
            flex-direction: row;
            padding-left: 50px !important;
            padding-right: 50px !important;
            .col__left{
                width: 70%;
            }
            .col__right{
                width: 30%;
                justify-content: flex-end;
                align-items: flex-end;
                .btn__hero{
                    img{
                        &:first-child{
                            width: 20vw;
                        }
                    }
                }
            }
        }
        .img__hero{
            height: calc(50vh - 100px) !important;
            max-height: unset !important;
            padding: 0 50px !important;
        }
        .column__3{
            margin-top: unset !important;
            padding-top: 50px;
            padding-left: 50px;
            padding-right: 50px;
            .col__left{
                width: calc(50% - 25px);
                padding: 0;
                .heroGallery{
                    img{
                        height: calc(50vh - 100px);
                    }
                }
            }
            .col__center{
                width: 50px;
            }
            .col__right{
                width: calc(50% - 25px);
                padding: 0;
            }
        }
    }

}








@media screen and (max-width: 768px) {
    .intro__slider1, .intro__slider2{
        height: fit-content;
        gap: 20px;
        img{
            min-width: 150px;
        }
    }
}