#inner__header .nav__ul.nav__ul__right li:nth-child(1) a{
    color: var(--color-black);
}

#inner__header .nav__ul.nav__ul__right li:nth-child(1) a::before{
    display: block;
}



#section__hero{
    margin-top: 0px;
    background-color: var(--color-secondary);
    position: relative;
    z-index: 1;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    div.column__2{
        .col__left{
            position: relative;
            .cardProduct__head{
                background-color: var(--color-accent);
                padding: 10px 40px;
                position: absolute;
                top: -50px;
                height: 50px;
                z-index: 1;
                h3{
                    font-size: var(--size-xs);
                    font-weight: 400;
                    margin-bottom: 0px;
                    a{
                        font-size: inherit;
                        font-weight: 500;
                        margin-bottom: 0px;
                    }
                    
                }
            }
        }
        div.cardProduct__body{
            background-color: var(--color-accent);
            margin-top: -3px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-height: 200px;
            div {
                display: flex;
                flex-direction: column;
            }
            .body__info{
                padding: 20px 40px;
                z-index: 2;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h1{
                    font-size: var(--size-lg);
                    font-weight: 600;
                    color: var(--color-black);
                    margin: 0;
                }
                a{
                    width: fit-content;
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    margin: 20px 0px 0px;
                    font-size: var(--size-sm);
                    font-weight: 500;
                    text-transform: uppercase;
                    cursor: pointer;
                    line-height: 24px;
                    &::after{
                        content: "";
                        left: 0;
                        bottom: 0;
                        width: 24px;
                        height: 24px;
                        background-image: url(/assets/arrow_btn-4.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        transform: rotate(90deg);
                    }
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .body__logo{
                width: auto;
                height: 100%;
                aspect-ratio: 1/1;
                max-height: 200px;
                padding: 20px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    aspect-ratio: 1/1;
                    object-position: center;
                }
            }
        }
    }
}

#section__hero > picture, #section__hero > picture > img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.categoria_producto{
    font-size: var(--size-sm);
    color: var(--color-accent);
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.categoria_producto a{
    font-size: inherit;
    font-weight: 400;
}

#section__main__image{
    background-color: var(--color-secondary-light);
    position: relative;
    overflow: hidden;
    &::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 15%;
        height: 100%;
        background-color: var(--color-accent);
        z-index: -2;
    }
    &::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 15%;
        background-color: var(--color-white);
        z-index: -1;
    }
    .column__2{
        justify-content: space-between;
    }
    .col__right{
        justify-content: center;
        h2{
            font-size: var(--size-xl);
            font-weight: 500;
        }
        a{
            text-transform: uppercase;
        }
        .brochure{
            font-size: var(--size-xs);
            text-decoration: underline;
        }
    }
    .col__right::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 10%;
        background-color: var(--color-accent);
        z-index: 1;
    }
}


#section__product__characteristics{
    padding: 5% 10%;
    .block1{
        padding: 5% 0;
        border-top: 1px solid #ccc;
        align-items: stretch;
        justify-content: space-between;
        .col__left{
            width: 75%;
            justify-content: center;
            h2{
                font-size: var(--size-2xl);
                text-transform: unset;
                font-weight: 300;
                strong{
                    font-weight: 500;
                }
            }
        }
        .col__right{
            width: 25%;
            padding-left: 5%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            img{
                height: 100%;
                width: auto;
                aspect-ratio: 1/1;
                max-height: 250px;
            }
        }
    }
    
    
    .column__2.block2{
        justify-content: space-between;
        h3{
            font-size: var(--size-md);
        }
        p{
            padding-right: 5%;
        }
        ul{
            padding-left: 10%;
            border-top: 1px solid #ccc;
            padding-top: 5%;
            list-style: none;
            li{
                position: relative;
                padding-left: 20px;
            }
            li::after{
                content: "+";
                display: block;
                font-weight: 700;
                color: var(--color-primary);
                position: absolute;
                left: -20px;
                top: 0;
            }
        }
        .col__left{
            div{
                border-top: 1px solid #ccc;
                padding-top: 5%;
            }
        }
        .col__right{
            h3{
                padding-left: 7%;
            }
        }

    }
}
#section__product__divisor::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 50%;
    background-image: url(/images/bg_yellow.svg);
    z-index: -1;
}

#section__product__amenities{
    background-image: url(/images/bg_yellow.svg);
    margin: -3px 0;
    padding-bottom: 10px;
    ul{
        margin-top: 30px;
        padding-top: 5%;
        padding-bottom: 5%;
        display: flex;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        border-top: 1px solid #00000030;
        border-bottom: 1px solid #00000030;
        width: 100%;
        grid-template-columns: repeat(6, 1fr);
        justify-items: center;
        gap: 30px;
        li{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            img{
                max-width: 130px;
                margin-bottom: 20px;
            }
            h3{
                text-align: center;
                font-size: var(--size-sm);
            }
        }
    }
}

#section__product__map{
    background-color: var(--color-secondary-light);
    &::after{
        content: "";
        position: absolute;
        left: 0;
        top: -1px;
        width: 100%;
        height: 20vh;
        background-image: url(/images/bg_yellow.svg);
        z-index: -1;
    }
    .column__2{
        border-bottom: 1px solid var(--color-black);
        padding-bottom: 5%;
        .col__left{
            justify-content: center;
            padding-right: 5%;
        }
        .col__right{
            #map-container-product{
                width: 100%;
                min-height: 75vh;
            }
        }
    }
}

#section__product__gallery{
    background-color: var(--color-secondary-light);
    padding: 0 10%;
    .column__1{
        padding: 5% 0%;
        border-top: 1px solid #00000030;
    }
    &::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 50%;
        background-color: var(--color-secondary);
        z-index: -1;
    }
    #main-carousel {
        overflow: hidden;
        .splide__track{
            height: 100%;
            .splide__list{
                li{
                    picture{
                        height: 75vh;
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }
            }
        }
    }
    
    #thumbnail-carousel {
        width: 100%;
        ul{
            justify-content: center;
            li{
                width: 100% !important;
                max-width: 200px !important;
                height: 100px !important;
            }
        }
    }
}




@media (max-width: 1024px) {
    .hiddenPseudo::after, 
    .hiddenPseudo::before {
        opacity: 0;
    }

    #section__hero{
        flex-direction: column;
        padding: 0;
        min-height: 100dvh;
        .producto__hero__img{
            position: relative;
        }
    }

    #section__product__characteristics{
        .column__2.block1{
            flex-direction: column-reverse;
            gap: 2vh;
            .col__left{
                width: 100% !important;
                text-align: center;
            }
            .col__right.introImg{
                align-items: center;
                justify-content: center;
                img{
                    height: 100%;
                    max-height: 250px;
                    object-fit: contain;
                }
            }
        }
        .column__2.block2{
            .col__right{
                h3{
                    padding: 0;
                }
                ul{
                    padding-left: 0;
                }
            }
        }
    }
    #map-container-product{
        height: 50vh;
    }
}

@media (max-width: 768px) {
    .hiddenPseudo::after, 
    .hiddenPseudo::before {
        opacity: 0;
    }
    #section__hero{
        padding: 0;
        min-height: 40dvh ;
    }
    #section__main__image{
        padding: 0;
        .column__2{
            .col__right{
                padding-top: 5%;
                padding-left: 5%;
            }
        }
    }
    #section__hero{
        .column__1{
            left: 0 !important;
        }
    }
    
    #section__product__amenities{
        ul{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    #map-container-product{
        height: 25vh;
    }


}   