#inner__header .nav__ul.nav__ul__right li:nth-child(1) a {
  color: var(--color-black);
}

#section__hero {
  background-color: var(--color-secondary-light);
  padding: calc(60px + 5%) 10% 5%;
  .column__2{
    .col__left{
      width: 45%;
      h1 {
        color: var(--color-accent);
      }
      h2 {
        color: var(--color-black);
      }
      h2 strong {
        color: var(--color-primary-light);
        font-weight: unset;
      }
      p {
        color: var(--color-white);
        font-size: var(--size-md);
      }
    }
    .col__right{
      width: 55%;
    }
  }
  
}

.hide__category .card__category {
  display: none;
}



#section__proyectos{
  padding: 5% 10%;
  .column__1{
    ul {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: auto;
      grid-gap: 50px;
      grid-auto-rows: auto;
      padding: 3% 2% 5%;
      width: 100%;
      opacity: 1;
      li {
        grid-column: span 4;
        grid-row: span 1;
        margin-bottom: 10%;
        margin-left: 10%;
        opacity: 0;
        &:nth-child(5n + 2) {
            grid-column: span 5;
            grid-row: span 1;
            margin-left: 35%;
            margin-top: 25%;
            opacity: 0;
        }
        &:nth-child(5n + 3) {
            grid-column: span 10;
            grid-row: span 1;
            margin-right: 25%;
            margin-left: 40%;
            margin-top: 10%;
            opacity: 0;
        }
        &:nth-child(5n + 4) {
            grid-column: span 4;
            grid-row: span 1;
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 20%;
            opacity: 0;
        }
        &:nth-child(5n + 5) {
            grid-column: span 5;
            grid-row: span 1;
            margin-top: 20%;
            margin-left: 30%;
            opacity: 0;
        }
        .card__pic{
          box-shadow: 15px 14px 52px rgba(0,0,0,0.4);
        }
      }
    }
  }      
}
