#section__prefooter{
    padding: 8% 10% 0%;
    background-color: var(--color-primary);
    background-image: url(/images/bg_yellow.svg);
    &> .column__2{
        border-bottom: 1px solid #00000030;
        padding-bottom: 8%;
        .col__left{
            padding-right: 15%;
            h4{
                font-size: var(--size-xs);
                text-transform: uppercase;
                margin-bottom: 0px;
            }
            a{
                font-size: var(--size-sm);
                font-weight: 400;
                &:hover{
                    text-decoration: underline !important;
                }
            }
        }
        .col__right{
            .column__2{
                .col__left{
                    padding-right: 25px;
                }
                .col__right{
                    padding-left: 25px;
                }
            }
        }
    }
}


footer{
    background-color: var(--color-primary);
    padding: 8% 10% 50px;
    background-image: url(/images/bg_yellow.svg);
    margin-top: -3px;
    .column__1{
        .footer__column{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            .submenu{
                display: none;
            }
            .withSubmenu:hover .submenu{
                display: none !important;
            }
            &:last-child{
                align-items: center;
            }
            .logo__footer{
                width: 100%;
                height: auto;
                max-width: 200px;
            }
            h2{
                color: var(--color-secondary);
                font-size: var(--size-xs);
                text-transform: uppercase;
            }
            a{
                color: var(--color-secondary);
                font-size: var(--size-xs);
                padding: 0;
                text-transform: unset;
                display: block;
                &:hover{
                    color: var(--color-secondary);
                    text-decoration: underline;
                    transition: color 0.3s ease-in-out;
                }
            }
            ul{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;
                li{
                    color: var(--color-secondary);
                    font-size: var(--size-xs);
                    margin-bottom: 0px;
                    padding: 10px 0px;
                    border-bottom: 1px solid #00000030;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 5px;
                    a{
                        color: var(--color-secondary);
                        font-size: var(--size-xs);
                        font-weight: 400;
                        line-height: 1.6;
                        text-transform: unset;
                        margin-bottom: 0px;
                        padding: 0px;
                        height: auto;
                        &:hover{
                            color: var(--color-black);
                            text-decoration: underline;
                        }
                        .active{
                            color: var(--color-black);
                            pointer-events: none;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}


.tel__text > div:nth-child(3), .tel__text > div:nth-child(6){
    margin-right: 5px;
}


#inner__footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 5%;
    span{
        color: var(--color-secondary);
        font-size: 14px;
        a{
            color: var(--color-secondary);
            font-size: inherit;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}















/*  Tableta  */
@media only screen and (max-width: 1024px) {

    #section__prefooter{
        padding: 10% 5% 0%;
        &> .column__2{
            border-bottom: 1px solid #00000030;
            padding-bottom: 8%;
            .col__left{
                padding-right: 0%;
                h4{
                    font-size: var(--size-sm);
                    text-transform: uppercase;
                    margin-bottom: 0px;
                }
                a{
                    font-size: var(--size-md);
                    font-weight: 400;
                    &:hover{
                        text-decoration: underline !important;
                    }
                }
            }
            .col__right{
                .column__2{
                    .col__left{
                        padding-right: 0px;
                    }
                    .col__right{
                        padding-left: 0px;
                    }
                }
            }
        }
    }

    footer{
        background-color: var(--color-secondary);
        padding: 10% 5% 50px;
    }

    footer .column__1{
        row-gap: 80px;
        column-gap: 50px;
        .footer__column{
            &:last-child{
                img{
                    max-width: 150px;
                }
            }
        }
    }
    .form{
        label{
            margin-top: 1em;
        }
        .column__2{
            padding-bottom: 0px;
            label{
                margin-top: 1em;
            }
            .col__left{
                padding: 0;
            }
        }
    }

}













/*  Móvil  */
@media only screen and (max-width: 768px) {

    footer{
        background-color: var(--color-secondary);
        padding: 10% 5% 20px;
    }

    #inner__footer {
        & span {
          color: var(--color-secondary);
          font-size: 13px;
          padding-right: 90px;
        }
      }

    footer .column__1{
        gap: 50px;
    }

}