---
eleventyComputed:
  title: "{{ contacto[0].titleseo }}"
  description: "{{ contacto[0].descseo }}"
  keywords: "{{ contacto[0].keyseo }}"
layout: "base.njk"
permalink: "/{{ page.fileSlug }}/"
---
<div data-barba="container" data-barba-namespace="contacto" data-css="contacto" data-js="contacto">
  {% for item in contacto %}
    <section id="section__hero" class="pad__lr__5">
      <div class="column__2">
        <div class="col__left flex__justify__c">
          <h1>Invierte en desarrollos inmobiliarios</h1>
          <div class="semiBold">{{ item.heroH2 | safe }}</div>
          <a class="btn">Ver datos de contacto</a>
        </div>
        <div class="col__right">
          <img src="/images/contacto_img.jpg" data-speed="1.1" />
        </div>
      </div>
    </section>

    <section id="section__data__contact" class="fadeInOut">
      <div class="column__2">
          <div class="col__left pad__right__5">
              <h3 class="subtitle">Datos de contacto</h3>
              <h2>Estamos para ayudarte</h2>
              <ul role="list" class="infoList">
                  {% for item in empresa %}
                  <li class="flex flex__col">
                      <h4>Teléfono</h4>
                      <a class="tel__text" href="tel:{{ item.brandPhone }}">{{ item.brandPhone }}</a>
                  </li>
                  <li class="flex flex__col">
                      <h4>Correo Electrónico</h4>
                      <a href="mailto:{{ item.brandEmail }}">{{ item.brandEmail }}</a>
                  </li>
                  <li class="flex flex__col">
                      <h4>Oficinas</h4>
                      <a href="{{ item.brandAddressUrl }}" target="_blank">{{ item.brandAddress }}</a>
                  </li>
                  {% endfor %}
              </ul>
          </div>
          <div class="col__right">
              {% include "form.njk" %}
          </div>
      </div>
  </section>

    <section id="section__map" class="fadeInOut">
      <div class="column__1 column__top">
        <h3 class="subtitle">Ubicación</h3>
        <h2>Nuestras oficinas</h2>
      </div>
      <div class="column__1 column__map">

        {% for item in empresa %}

        <div id="map"></div>

        <!-- prettier-ignore -->
        <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "AIzaSyCr0REew24oldKBiKHY6vrNlflzkIYIhQY", v: "weekly"});</script>
        
        <script>
          // Mapa de Google:
          async function initMap() {
              // Importa solo la biblioteca de mapas.
              const { Map } = await google.maps.importLibrary("maps");
              const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
              const originalMapCenter = new google.maps.LatLng(21.034083725368113, -89.58524727449985);
              const map = new Map(document.getElementById("map"), {
                  zoom: 14,
                  center: originalMapCenter,
                  mapId: "8db6d703d3e235c6",
              });

              const infowindow = new google.maps.InfoWindow({
                  content: `
                    <span style="display: block;">Oficinas EMEKÁ
                      <a href="{{ item.brandAddressUrl }}" target="_blank" style="display: block; color: #222; font-size: 16px;">Abrir en Google Maps</a>
                    </span>
                  `,
                  position: originalMapCenter,
                  pixelOffset: new google.maps.Size(0, -84) // Desplaza el InfoWindow 40 píxeles hacia arriba
              });

              infowindow.open(map);

              // Añade un marcador avanzado con una imagen personalizada
              const marker = new AdvancedMarkerElement({
                  map: map,
                  position: originalMapCenter,
                  title: "Custom Marker",
                  content: document.createElement("div")
              });

              // Configura el contenido HTML del marcador avanzado para usar la imagen
              marker.content.innerHTML = `
                  <img src="/images/emeka_sello_amarillo.svg" alt="Oficinas EMEKÁ" style="width: 80px; height: 80px; background-color:#222; padding:10px; border-radius: 80px; box-shadow: 0px 2px 6px rgba(0,0,0,0.6);">
                  
              `;
            }
            initMap();

        </script>

        <a href="{{ item.brandAddressUrl }}" target="_blank" class='btn btn__secondary'>Abrir en google maps</a>
        {% endfor %}
      </div>
    </section>


  {% endfor %}
</div>

<script>
  /*
document.addEventListener('DOMContentLoaded', function() {
  const mapContainer = document.getElementById('map-container');
  const iframeString = mapContainer.getAttribute('data-map-iframe');
  
  if (iframeString) {
    const parser = new DOMParser();
    const doc = parser.parseFromString(iframeString, 'text/html');
    const iframe = doc.querySelector('iframe');

    if (iframe) {
      // Copiar los atributos existentes
      const newIframe = document.createElement('iframe');
      Array.from(iframe.attributes).forEach(attr => {
        newIframe.setAttribute(attr.name, attr.value);
      });

      // Asegurar que tenga los atributos deseados
      newIframe.width = '100%';
      newIframe.height = '100%';
      newIframe.style.border = '0';
      newIframe.allowFullscreen = true;
      newIframe.loading = 'lazy';
      newIframe.referrerPolicy = 'no-referrer-when-downgrade';
      
      // Asegurar que tenga un título para accesibilidad
      if (!newIframe.hasAttribute('title')) {
        newIframe.title = 'Google Maps';
      }

      mapContainer.appendChild(newIframe);
    }
  }
});
*/
</script>