---
eleventyComputed:
  title: "{{ nosotros[0].titleseo }}"
  description: "{{ nosotros[0].descseo }}"
  keywords: "{{ nosotros[0].keyseo }}"
layout: "base.njk"
permalink: "/{{ page.fileSlug }}/"
---

<div
  data-barba="container"
  data-barba-namespace="nosotros"
  data-css="nosotros"
  data-js="nosotros"
>
  {% for item in nosotros %}
  <section id="section__hero" class="pad__lr__5">
    <div class="column__1">
      {% if item.heroImg %}
      <picture>
        {% for format, images in item.heroImg %}
        <source
          srcset="{{ images | srcset }}"
          sizes="(max-width: 1200px) 100vw, 1200px"
          type="image/{{ format }}" />
        {% endfor %}
        <img src="{{ item.heroImg.jpeg[0].url }}" alt="{{ item.heroImgAlt }}"
      /></picture>
      {% endif %}
    </div>
    <div class="titulo__creamos"></div>
  </section>
  <section id="section__intro" class="pad__lr__5 pad__top__10 fadeInOut">
    <div class="titulo__habitat"></div>
    <div class="column__2">
      <div class="col__left width__40">
        <h3>{{ item.introH3 }}</h3>
        <h2>{{ item.introH2 }}</h2>
        <div>{{ item.introRichText | safe }}</div>
        <a class="btn btn__secondary">visitar sitio web</a>
      </div>
      <div class="col__right width__60">
        <div class="column__2 mar__top__5">
          <div class="col__left flex__justify__sb width__30">
            {% if item.introImg2 %}
            <picture>
              {% for format, images in item.introImg2 %}
              <source
                srcset="{{ images | srcset }}"
                sizes="(max-width: 1200px) 100vw, 1200px"
                type="image/{{ format }}" />
              {% endfor %}
              <img
                src="{{ item.introImg2.jpeg[0].url }}"
                alt="{{ item.introImg2Alt }}"
            /></picture>
            {% endif %}
          </div>
          <div class="col__right width__70 pad__left__5">
            {% if item.introImg1 %}
            <picture>
              {% for format, images in item.introImg1 %}
              <source
                srcset="{{ images | srcset }}"
                sizes="(max-width: 1200px) 100vw, 1200px"
                type="image/{{ format }}" />
              {% endfor %}
              <img
                src="{{ item.introImg1.jpeg[0].url }}"
                alt="{{ item.introImg1Alt }}"
            /></picture>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="section__divisor" class="fadeInOut pad__all__5">
    <div class="column__1">
      {% if item.introImgDivisor %}
      <picture>
        {% for format, images in item.introImgDivisor %}
        <source
          srcset="{{ images | srcset }}"
          sizes="(max-width: 1200px) 100vw, 1200px"
          type="image/{{ format }}" />
        {% endfor %}
        <img
          src="{{ item.introImgDivisor.jpeg[0].url }}"
          alt="{{ item.introImg1Alt }}"
      /></picture>
      {% endif %}
    </div>
  </section>

  {% endfor %}
</div>
