---
eleventyComputed:
  title: "{{ nosotros[0].titleseo }}"
  description: "{{ nosotros[0].descseo }}"
  keywords: "{{ nosotros[0].keyseo }}"
layout: "base.njk"
permalink: "/{{ page.fileSlug }}/"
---

<div data-barba="container" data-barba-namespace="nosotros" data-css="nosotros" data-js="nosotros">
  {% for item in nosotros %}
  <section id="section__hero" class="pad__lr__5">
    <div class="column__1">
      {% if item.heroImg %}
      <picture>
        {% for format, images in item.heroImg %}
        <source
          srcset="{{ images | srcset }}"
          sizes="(max-width: 1200px) 100vw, 1200px"
          type="image/{{ format }}" />
        {% endfor %}
        <img src="{{ item.heroImg.jpeg[0].url }}" alt="{{ item.heroImgAlt }}"
      /></picture>
      {% endif %}
    </div>
    <div class="titulo__creamos"></div>
  </section>

  <section id="section__intro">
    <div class="titulo__habitat"></div>
    <div class="column__2 pin__start">
      <div class="col__left">
        <div class="info__top">
          <h3 class="subtitle">{{ item.introH3 }}</h3>
          <h2>{{ item.introH2 }}</h2>
          {{ item.introRichText | safe }}
        </div>
        <div class="info__bottom">
          <h3>Nuestro enfoque en cada proyecto</h3>
          <div class="value__wrapper">
            <div class="value">
              <img src="/images/sello.svg" />
              <h3>Enfoque minimalista</h3>
            </div>
            <div class="value">
              <img src="/images/sello.svg" />
              <h3>Diseño moderno</h3>
            </div>
            <div class="value">
              <img src="/images/sello.svg" />
              <h3>Hábitat efectivo</h3>
            </div>
            <div class="value">
              <img src="/images/sello.svg" />
              <h3>Concepto verde</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="col__right">    
        <div class="trazo__edificio">
          <svg width="100%" height="100%" viewBox="0 0 1091 1200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" stroke-width="1" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <g id="trazo" serif:id="trazo" transform="matrix(1.09099,0,0,1.2,0,0)">
                <rect x="0" y="0" width="1000" height="1000" style="fill:none;"/>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M701.591,343.135L461.817,8.685" style="fill:none;"/>
                </g>
                <g transform="matrix(0.846794,0.0725037,0.079748,0.7505,-201.87,40.2063)">
                    <path class="st0" stroke="#222" d="M521.756,946.586L333.703,1160.14" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M543.965,950.402L366.997,1167.47" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.837215,-163.161,-0.100134)">
                    <path class="st0" stroke="#222" d="M366.997,1153.26L366.997,25.798" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M372.214,1052.94L509.269,929.65L512.028,198.361" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.835678,-163.161,-0.439034)">
                    <path class="st0" stroke="#222" d="M547.267,187.283L547.267,939.446" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.841925,-163.161,-1.60908)">
                    <path class="st0" stroke="#222" d="M523.368,187.283L523.368,930.884" style="fill:none;"/>
                </g>
                <g transform="matrix(1.40583,0.0486072,0.0534639,0.838645,-481.528,-31.6308)">
                    <path class="st0" stroke="#222" d="M528.328,946.504L547.267,946.879" style="fill:none;"/>
                </g>
                <g transform="matrix(1.28924,0,0,0.833333,-362.84,0)">
                    <path class="st0" stroke="#222" d="M527.716,187.283L543.965,185.407" style="fill:none;"/>
                </g>
                <g transform="matrix(0.988442,0.0829539,0.0912423,0.938684,-246.776,-96.5441)">
                    <path class="st0" stroke="#222" d="M465.004,71.276L787.065,476.291" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M567.859,214.517L566.839,927.264" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M697.814,765.366L572.065,922.684" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M697.814,799.584L566.839,996.02" style="fill:none;"/>
                </g>
                <g transform="matrix(0.833782,0.108529,0.119373,0.676894,-240.396,101.216)">
                    <path class="st0" stroke="#222" d="M546.035,1025.81L430.673,1192.1" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.847024,-163.468,-16.3202)">
                    <path class="st0" stroke="#222" d="M546.035,1035.72L546.035,1192.1" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M521.742,183.49L365.035,4.611" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M507.707,193.833L374.291,48.522" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M520.952,186.266L512.81,193.833" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M374.291,167.42L494.761,257.244" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M398.502,249.955L489.48,307.916" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M381.478,406.203L480.912,444.299" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M398.502,537.261L480.912,547.205" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,257.461)">
                    <path class="st0" stroke="#222" d="M398.502,537.261L487.043,495.776" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M569.398,264.72L629.147,326.614L625.36,806.273" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M569.398,246.845L636.796,323.558L632.863,811.318" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M567.349,867.854L623.282,811.175" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M567.349,889.857L633.052,818.591" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M640.704,811.175L682.186,763.882" style="fill:none;"/>
                </g>
                <g transform="matrix(3.84059,0,0,3.49171,-2169.72,-2030.69)">
                    <path class="st0" stroke="#222" d="M686.237,763.882L767.335,763.882" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M702.212,799.48L1025.9,801.62" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M293.08,25.798L293.08,1180.97" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M211.666,244.485L273.158,276.172" style="fill:none;"/>
                </g>
                <g transform="matrix(0.698216,0.0622682,0.0684898,0.813804,-163.258,0.0276483)">
                    <path class="st0" stroke="#222" d="M187.522,922.449L277.729,886.956" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M636.796,803.791L679.084,758.856" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M679.084,754.76L679.084,371.454" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.855565,-156.605,-10.3803)">
                    <path class="st0" stroke="#222" d="M679.084,754.76L679.084,371.454" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M569.398,236.475L682.861,365.898" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M641.977,333.28L679.084,371.454" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M636.796,339.943L673.878,377.891L673.878,755.057" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M573.203,410.083L621.696,437.632" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M641.977,449.437L667.182,463.297" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M691.602,374.258L709.519,394.931" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M688.879,746.563L697.937,737.386" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M709.519,400.562L709.519,619.264" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M700.561,365.936L1028.74,365.936" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916589,-0.00106128,-0.00116731,0.674925,-162.866,40.0336)">
                    <path class="st0" stroke="#222" d="M1094.21,245.394L1100.43,1174.49" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M719.393,393.31L719.393,617.508" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M718.486,393.31L710.422,393.31" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M769.457,455.682L769.457,589.495L787.249,585.163" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M724.135,414.03L760.03,454.351L760.111,590.507" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M745.879,443.744L745.879,583.643" style="fill:none;"/>
                </g>
                <g transform="matrix(0.714216,0,0,0.833333,-15.4743,0)">
                    <path class="st0" stroke="#222" d="M729.746,437.027L742.123,445.994L742.123,589.495" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M745.879,448.919L758.182,461.389" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M728.005,598.336L736.98,598.336L736.98,619.658" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M739.39,598.336L758.182,593.663" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M728.005,594.145L752.03,588.773" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M759.454,583.643L748.387,585.091" style="fill:none;"/>
                </g>
                <g transform="matrix(0.800702,0.0137879,0.0151655,0.831529,-102.386,-7.57299)">
                    <path class="st0" stroke="#222" d="M759.454,583.643L747.196,585.34" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M770.865,580.269L777.134,579.287L781.558,584.367" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M778.714,479.908L778.032,576.059" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M787.749,581.827L787.749,483.56L783.075,477.998L780.026,477.428L769.674,466.335" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M783.017,482.605L783.017,581.827" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M742.499,414.079L1020.16,414.079" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.66,0.754926)">
                    <path class="st0" stroke="#222" d="M565.638,997.889L565.638,1195.27" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-164.55,0)">
                    <path class="st0" stroke="#222" d="M700.055,627.03L700.055,760.9" style="fill:none;"/>
                </g>
                <g transform="matrix(0.703603,0,0,0.833333,132.699,0)">
                    <path class="st0" stroke="#222" d="M700.055,627.03L700.055,760.9" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M703.791,628.505L703.791,762.099" style="fill:none;"/>
                </g>
                <g transform="matrix(0.703603,0,0,0.833333,133.765,0)">
                    <path class="st0" stroke="#222" d="M703.791,628.505L703.791,762.099" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M695.78,619.383L1024.54,620.6" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M695.78,625.481L1024.54,625.481" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M707.183,628.505L1022.35,629.2" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M704.205,660.093L860.16,660.817" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,28.571)">
                    <path class="st0" stroke="#222" d="M704.205,660.093L860.16,660.817" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,57.1419)">
                    <path class="st0" stroke="#222" d="M704.205,660.093L860.16,660.817" style="fill:none;"/>
                </g>
                <g transform="matrix(0.922865,0,0,0.833333,-20.8643,0.603095)">
                    <path class="st0" stroke="#222" d="M704.205,660.093L860.16,660.817" style="fill:none;"/>
                </g>
                <g transform="matrix(0.922865,0,0,0.833333,-20.8643,29.1741)">
                    <path class="st0" stroke="#222" d="M704.205,660.093L860.16,660.817" style="fill:none;"/>
                </g>
                <g transform="matrix(0.922865,0,0,0.833333,-20.8643,57.745)">
                    <path class="st0" stroke="#222" d="M704.205,660.093L860.16,660.817" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,2.99497)">
                    <path class="st0" stroke="#222" d="M704.205,660.093L860.16,660.817" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,31.5659)">
                    <path class="st0" stroke="#222" d="M704.205,660.093L860.16,660.817" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,60.1369)">
                    <path class="st0" stroke="#222" d="M704.205,660.093L860.16,660.817" style="fill:none;"/>
                </g>
                <g transform="matrix(0.922865,0,0,0.833333,-20.8643,3.59806)">
                    <path class="st0" stroke="#222" d="M704.205,660.093L860.16,660.817" style="fill:none;"/>
                </g>
                <g transform="matrix(0.922865,0,0,0.833333,-20.8643,32.169)">
                    <path class="st0" stroke="#222" d="M704.205,660.093L860.16,660.817" style="fill:none;"/>
                </g>
                <g transform="matrix(0.922865,0,0,0.833333,-20.8643,60.74)">
                    <path class="st0" stroke="#222" d="M704.205,660.093L860.16,660.817" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-166.004,0)">
                    <path class="st0" stroke="#222" d="M1027.39,366.144L1027.64,620.6L1027.64,763.539" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916598,0.000284414,0.000312831,0.888236,-163.271,-19.1638)">
                    <path class="st0" stroke="#222" d="M1028.74,343.722L1032.47,1064.41" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0.333248)">
                    <path class="st0" stroke="#222" d="M740.82,714.994L860.16,714.994" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0.333248)">
                    <path class="st0" stroke="#222" d="M864.701,714.994L1001.21,714.994" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M704.178,746.514L717.588,732.713" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M704.178,755.237L723.628,732.713" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M718.917,728.505L718.917,698.458" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-159.808,0)">
                    <path class="st0" stroke="#222" d="M718.917,728.505L718.917,698.458" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M718.917,694.099L718.917,664.393" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-159.808,0)">
                    <path class="st0" stroke="#222" d="M718.917,694.099L718.917,664.393" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M718.917,659.827L718.917,628.935" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-159.808,0)">
                    <path class="st0" stroke="#222" d="M718.917,659.827L718.917,628.935" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M723.556,726.061L738.21,710.075L722.575,709.797" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M727.923,728.505L738.636,715.825L738.772,698.458" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M738.772,694.099L738.772,664.393" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M738.772,660.172L738.772,628.795" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.732,0)">
                    <path class="st0" stroke="#222" d="M729.333,425.692L727.923,619.199" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.732,0)">
                    <path class="st0" stroke="#222" d="M727.923,628.795L727.923,660.172" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.732,0)">
                    <path class="st0" stroke="#222" d="M727.923,664.049L727.923,693.625" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.732,0)">
                    <path class="st0" stroke="#222" d="M727.923,698.222L727.923,709.372" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M755.695,715.238L768.234,698.334" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M773.992,690.424L786.114,672.3" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.711984,-163.161,80.6268)">
                    <path class="st0" stroke="#222" d="M787.044,664.417L787.044,671.277L860.16,671.277" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M864.192,670.278L933.728,670.278" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M789.196,654.952L860.16,654.952" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M864.192,654.952L932.644,654.952" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M790.979,649.582L796.299,643.323L860.16,643.323" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M864.266,643.323L930.09,643.323" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M931.01,654.952L931.01,629.237" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M931.01,620.107L931.01,613.608" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.77988,-163.161,56.1375)">
                    <path class="st0" stroke="#222" d="M529.771,1050.21L529.771,1193.97" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.760043,-163.161,78.4981)">
                    <path class="st0" stroke="#222" d="M515.161,1071.06L515.161,1185.43" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.521508,-163.161,340.122)">
                    <path class="st0" stroke="#222" d="M501.211,1090.75L501.211,1193.97" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M630.83,901.013L629.408,1167.87" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916593,0.000342831,0.000377086,0.802239,-163.501,28.0343)">
                    <path class="st0" stroke="#222" d="M625.549,908.496L622.422,1192.1" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.798256,-163.161,28.9743)">
                    <path class="st0" stroke="#222" d="M681.207,826.002L681.207,1152.91" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M708.624,799.584L708.624,1057.62" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M803.866,500.271L799.347,500.271L792.798,494.599" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M792.798,489.442L792.798,590.703" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M804.946,497.435L804.946,493.549L915.199,493.549L915.199,587.785" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M788.756,469.752L933.968,469.752" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M791.62,477.259L933.968,477.259" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M745.946,416.316L788.756,469.752" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M737.292,612.845L987.7,614.29" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,-4.56285)">
                    <path class="st0" stroke="#222" d="M737.292,612.845L987.7,614.29" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-162.171,0)">
                    <path class="st0" stroke="#222" d="M980.467,416.316L980.467,608.092" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M996.995,414.201L996.995,620.266" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M964.817,435.154L964.817,608.207" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-168.171,0)">
                    <path class="st0" stroke="#222" d="M964.817,435.154L964.817,608.207" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M802.043,501.166L802.043,587.785" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M921.373,488.894L921.373,587.785" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M929.111,488.894L929.111,606.09" style="fill:none;"/>
                </g>
                <g transform="matrix(1.01333,0,0,0.833333,-240.744,1.56176)">
                    <path class="st0" stroke="#222" d="M802.043,487.02L921.373,487.02" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M966.582,435.154L766.1,435.154" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M948.412,454.781L780.177,454.781" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-162.591,0)">
                    <path class="st0" stroke="#222" d="M943.229,454.781L943.229,608.092" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-159.544,0)">
                    <path class="st0" stroke="#222" d="M943.229,454.781L943.229,608.092" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M935.969,470.213L935.969,608.092" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M980.901,416.031L967.073,433.009" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M958.052,442.981L948.412,454.781" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M943.724,461.265L937.015,468.886" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M787.521,591.308L928.868,591.308" style="fill:none;"/>
                </g>
                <g transform="matrix(0.832823,0,0,0.833333,-90.1369,-2.93628)">
                    <path class="st0" stroke="#222" d="M787.521,591.308L928.868,591.308" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,2.75303)">
                    <path class="st0" stroke="#222" d="M787.521,591.308L928.868,591.308" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0.608188)">
                    <path class="st0" stroke="#222" d="M738.992,638.974L859.428,638.974" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0.608188)">
                    <path class="st0" stroke="#222" d="M864.192,638.974L982.703,638.974" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M798.177,639.704L805.434,632.098" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M801.805,630.979L796.331,636.597" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M793.466,670.261L793.466,694.74" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-157.226,0)">
                    <path class="st0" stroke="#222" d="M793.466,670.261L793.466,694.74" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M793.466,698.696L793.466,715.286" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-157.226,0)">
                    <path class="st0" stroke="#222" d="M793.466,698.696L793.466,715.286" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M922.215,670.261L922.215,695.102" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-156.83,0)">
                    <path class="st0" stroke="#222" d="M922.215,670.261L922.215,695.102" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-152.135,0)">
                    <path class="st0" stroke="#222" d="M922.215,670.261L922.215,695.102" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.794141,-163.161,28.0335)">
                    <path class="st0" stroke="#222" d="M922.215,715.286L922.215,698.696" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.794141,-156.83,28.0335)">
                    <path class="st0" stroke="#222" d="M922.215,715.286L922.215,698.696" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.794141,-152.135,28.0335)">
                    <path class="st0" stroke="#222" d="M922.215,715.286L922.215,698.696" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-152.209,0)">
                    <path class="st0" stroke="#222" d="M934.244,629.462L934.244,660.827" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-140.051,0)">
                    <path class="st0" stroke="#222" d="M934.244,629.462L934.244,660.827" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-136.005,0)">
                    <path class="st0" stroke="#222" d="M934.244,629.462L934.244,660.827" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M934.244,629.462L934.244,660.827" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M946.193,665.232L946.193,695.102" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-151.003,0)">
                    <path class="st0" stroke="#222" d="M946.193,665.232L946.193,695.102" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-146.957,0)">
                    <path class="st0" stroke="#222" d="M946.193,665.232L946.193,695.102" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M946.193,699.124L946.193,715.141" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-151.003,0)">
                    <path class="st0" stroke="#222" d="M946.193,699.124L946.193,715.141" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-146.957,0)">
                    <path class="st0" stroke="#222" d="M946.193,699.124L946.193,715.141" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.751369,-163.161,50.3595)">
                    <path class="st0" stroke="#222" d="M963.872,620.6L963.872,614.409" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.751369,-167.418,50.3595)">
                    <path class="st0" stroke="#222" d="M963.872,620.6L963.872,614.409" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M997.297,629.259L997.297,661.174" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-176.538,0)">
                    <path class="st0" stroke="#222" d="M997.297,629.259L997.297,661.174" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M997.297,665.077L997.297,695.254" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-176.538,0)">
                    <path class="st0" stroke="#222" d="M997.297,665.077L997.297,695.254" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M997.297,699.419L997.297,715.393" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-176.538,0)">
                    <path class="st0" stroke="#222" d="M997.297,699.419L997.297,715.393" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M982.703,614.546L982.703,620.16" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M739.391,690.661L860.16,690.344" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M864.192,690.344L982.703,691.553" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.87799,-163.161,-35.7064)">
                    <path class="st0" stroke="#222" d="M721.247,799.584L719.331,1044.95" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M726.625,929.969L735.33,929.969L780.098,799.584" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M728.923,925.494L760.361,837.51L760.361,799.584" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M739.242,799.584L739.242,874.553L728.923,901.592" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M755.892,799.584L755.892,838.417L743.069,872.948" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M752.421,799.584L752.421,837.426L743.069,861.488" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M743.069,799.584L743.069,867.703" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,1.64788,-164.912,-651.299)">
                    <path class="st0" stroke="#222" d="M728.923,799.584L728.923,923.822" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M727.012,889.816L735.925,867.703L735.925,799.584" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.921514,-163.946,-70.5079)">
                    <path class="st0" stroke="#222" d="M766.905,799.584L766.905,830.536" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M775.168,799.584L769.219,815.06L769.219,799.584" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M760.361,837.337L766.049,837.337" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-176.163,0)">
                    <path class="st0" stroke="#222" d="M760.361,837.337L766.049,837.337" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M735.067,929.969L735.067,1052.07" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M735.067,938.204L985.166,938.204" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,2.7033)">
                    <path class="st0" stroke="#222" d="M735.067,938.204L985.166,938.204" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,7.22815)">
                    <path class="st0" stroke="#222" d="M735.067,938.204L985.166,938.204" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M739.151,946.878L739.151,1049.33" style="fill:none;"/>
                </g>
                <g transform="matrix(0.911913,0,0,0.833333,-159.7,0)">
                    <path class="st0" stroke="#222" d="M739.151,972.806L985.166,972.806" style="fill:none;"/>
                </g>
                <g transform="matrix(0.911913,0,0,0.833333,-159.7,21.0793)">
                    <path class="st0" stroke="#222" d="M739.151,972.806L985.166,972.806" style="fill:none;"/>
                </g>
                <g transform="matrix(0.911913,0,0,0.833333,-159.7,42.9503)">
                    <path class="st0" stroke="#222" d="M739.151,972.806L985.166,972.806" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M862.158,946.878L862.158,1051.6" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.820432,-163.161,12.0986)">
                    <path class="st0" stroke="#222" d="M981.87,799.48L981.87,937.758" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-161.293,0)">
                    <path class="st0" stroke="#222" d="M981.87,946.878L981.87,1051.6" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.825015,-162.31,6.66845)">
                    <path class="st0" stroke="#222" d="M998.02,801.62L998.02,1051.6" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M739.151,1049.11L862.409,1049.11L983.909,1050.24" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M695.59,1068.26L1025.9,1068.26" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M695.59,1058.1L1025.9,1058.1" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M1025.9,771.079L1025.9,1058.1" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M707.357,1068.26L707.357,1118.92" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M719.331,1068.26L719.331,1099.38" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M788.66,799.584L788.66,864.351" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M769.227,937.842L788.66,868.987" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M791.453,864.351L934.85,864.351" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M788.66,848.694L936.836,848.694" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M931.644,801.62L931.644,848.694" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M936.836,801.62L936.836,848.694" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M945.283,801.62L945.283,864.351" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M949.029,801.62L949.029,850.078" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M959.388,801.62L959.388,937.811" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M965.923,801.62L965.923,937.811" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M195.029,1091.2L273.158,1041.99" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,-2.02609)">
                    <path class="st0" stroke="#222" d="M484.63,29.352L1269,29.352" style="fill:none;"/>
                </g>
                <g transform="matrix(0.934058,0,0,0.833333,-173.665,1.9281)">
                    <path class="st0" stroke="#222" d="M503.439,52.174L1253.45,52.174" style="fill:none;"/>
                </g>
                <g transform="matrix(0.961171,0,0,0.833333,-186.186,0)">
                    <path class="st0" stroke="#222" d="M516.535,69.829L1223.57,69.829" style="fill:none;"/>
                </g>
                <g transform="matrix(0.922325,0,0,0.833333,-166.212,0)">
                    <path class="st0" stroke="#222" d="M532.528,89.348L1253.45,89.348" style="fill:none;"/>
                </g>
                <g transform="matrix(0.925587,0,0,0.833333,-174.232,2.07452)">
                    <path class="st0" stroke="#222" d="M537.849,101.499L1231.43,101.499" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M550.724,118.893L1231.43,118.893" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M550.724,129.303L1208.87,129.303" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M568.35,144.446L1208.87,144.446" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M577.871,155.397L1188.76,155.397" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M577.871,168.003L1188.76,164.775" style="fill:none;"/>
                </g>
                <g transform="matrix(0.920719,0,0,0.833333,-165.559,0)">
                    <path class="st0" stroke="#222" d="M581.704,175.91L1170.92,175.91" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M599.018,188.341L1170.92,185.435" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M606.621,197.18L1154.74,197.18" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M611.87,206.646L1154.74,206.646" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M611.87,217.11L1142.4,212.915" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M618.484,225.113L1142.4,225.113" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M634.5,236.166L1127.52,236.166" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M634.5,245.394L1116.93,244.485" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M705.828,343.065L1036.63,343.065" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M648.519,264.947L1094.21,267.145" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M640.727,250.868L1094.21,251.324" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M654.189,270.796L1094.01,273.562" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M654.189,276.579L1094.01,277.324" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M662.64,282.182L1088.15,283.264" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M666.422,288.037L1088.15,288.037" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M666.422,292.766L1078.35,294.111" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M674.618,297.872L1078.35,299.134" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M674.618,303.784L1070.83,303.784" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M682.03,308.185L1070.83,308.185" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M682.03,312.253L1062.38,312.253" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M682.03,316.104L1062.38,317.18" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M690.4,319.801L1056.33,321.484" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M690.4,325.48L1050.77,325.48" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M700.055,332.776L1050.77,332.776" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M700.055,335.979L1044.31,336.396" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M1036.63,343.722L1039.61,1081.99" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M1041.07,340.841L1043.2,1062.62" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M1047.05,335.717L1047.05,1047.41" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.854829,-158.122,-15.53)">
                    <path class="st0" stroke="#222" d="M1047.05,335.717L1047.05,1047.41" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.854206,-152.62,-21.8618)">
                    <path class="st0" stroke="#222" d="M1047.05,335.717L1047.05,1047.41" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.854206,-145.551,-26.9966)">
                    <path class="st0" stroke="#222" d="M1047.05,335.717L1047.05,1047.41" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.841053,-140.625,-25.5746)">
                    <path class="st0" stroke="#222" d="M1047.05,335.717L1047.05,1047.41" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.841053,-135.971,-32.5844)">
                    <path class="st0" stroke="#222" d="M1047.05,335.717L1047.05,1047.41" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.841053,-129.443,-42.2279)">
                    <path class="st0" stroke="#222" d="M1047.05,335.717L1047.05,1047.41" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,2.68817,-163.161,-453.48)">
                    <path class="st0" stroke="#222" d="M1116.93,244.485L1116.93,481.751" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.991529,-163.161,-4.15355)">
                    <path class="st0" stroke="#222" d="M1128.6,244.485L1128.6,885.423" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.977489,-168.244,-0.870964)">
                    <path class="st0" stroke="#222" d="M1128.6,244.485L1128.6,885.423" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,1.02492,-156.571,-24.8148)">
                    <path class="st0" stroke="#222" d="M1128.6,244.485L1128.6,885.423" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,1.08986,-149.899,-54.4753)">
                    <path class="st0" stroke="#222" d="M1128.6,244.485L1128.6,885.423" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,1.08986,-143.115,-61.0051)">
                    <path class="st0" stroke="#222" d="M1128.6,244.485L1128.6,885.423" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,1.08986,-138.596,-71.0471)">
                    <path class="st0" stroke="#222" d="M1128.6,244.485L1128.6,885.423" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,1.08986,-131.159,-83.2541)">
                    <path class="st0" stroke="#222" d="M1128.6,244.485L1128.6,885.423" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,1.08694,-121.941,-93.3571)">
                    <path class="st0" stroke="#222" d="M1128.6,244.485L1128.6,885.423" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,1.08986,-116.284,-105.164)">
                    <path class="st0" stroke="#222" d="M1128.6,244.485L1128.6,885.423" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,1.08986,-107.34,-116.169)">
                    <path class="st0" stroke="#222" d="M1128.6,244.485L1128.6,885.423" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,1.08986,-98.3956,-127.175)">
                    <path class="st0" stroke="#222" d="M1128.6,244.485L1128.6,885.423" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,1.09921,-89.4514,-146.462)">
                    <path class="st0" stroke="#222" d="M1128.6,244.485L1128.6,885.423" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,1.09921,-79.1162,-157.278)">
                    <path class="st0" stroke="#222" d="M1128.6,244.485L1128.6,885.423" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,1.10839,-68.781,-176.222)">
                    <path class="st0" stroke="#222" d="M1128.6,244.485L1128.6,885.423" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,1.11465,-58.4458,-192.67)">
                    <path class="st0" stroke="#222" d="M1128.6,244.485L1128.6,885.423" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,1.12979,-44.5933,-217.611)">
                    <path class="st0" stroke="#222" d="M1128.6,244.485L1128.6,885.423" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M1116.93,244.485L1123.06,236.936" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M1135.04,225.521L1128.78,231.78" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M1148.35,207.138L1144.33,211.163" style="fill:none;"/>
                </g>
                <g transform="matrix(0.832772,0.0762104,0.083825,0.757123,-81.178,-72.9939)">
                    <path class="st0" stroke="#222" d="M1163.67,183.966L1154.64,194.448" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M1180.26,165.225L1173.2,172.276" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M1191.48,152.483L1199,144.961" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M1211.29,127.083L1219.32,119.056" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M1232.8,101.456L1242.8,89.665" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-163.161,0)">
                    <path class="st0" stroke="#222" d="M1258.6,66.585L1268.03,57.155" style="fill:none;"/>
                </g>
                <g transform="matrix(0.871513,0.0226325,0.0248939,0.820836,-128.964,-17.1674)">
                    <path class="st0" stroke="#222" d="M1024.29,481.309L1005.72,491.564" style="fill:none;"/>
                </g>
                <g transform="matrix(0.879287,-0.0243276,-0.0267583,0.815886,-108.952,35.3467)">
                    <path class="st0" stroke="#222" d="M998.109,634.19L1021.25,650.785" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,0.833333,-162.069,0)">
                    <path class="st0" stroke="#222" d="M1005.72,491.564L1005.72,620.051" style="fill:none;"/>
                </g>
                <g transform="matrix(0.916597,0,0,1.29026,-163.161,-287.574)">
                    <path class="st0" stroke="#222" d="M1006.91,629.365L1006.91,636.243" style="fill:none;"/>
                </g>
            </g>
          </svg>
          {% if item.introImg1 %}
            <picture>
              {% for format, images in item.introImg1 %}
                <source srcset="{{ images | srcset }}" sizes="(max-width: 1200px) 100vw, 1200px" type="image/{{ format }}" />
              {% endfor %}
              <img class="edificio" src="{{ item.introImg1.jpeg[0].url }}" alt="{{ item.introImg1Alt }}"/>
            </picture>
          {% endif %}
        </div>     
      </div>

    </div>
  </section>

  <section id="section__testimonios">
    <div class="column__1">
      <h3 class="subtitle">Testimonios</h3>
      <h2>Qué opinan nuestros clientes</h2>
    </div>
    <div class="column__1 draggable listado__testimonios">

      <div class="testimonio">
        <img src="/images/comilla.svg" />
        <p>El mejor lugar de Tulum en Aldea Zama.
            Un Condominio 5 estrellas</p>
          <h4>Victoria Jones</h4>
          <span>Sobre Watal</span>
      </div>
      <div class="testimonio">
        <img src="/images/comilla.svg" />
        <p>Great 2 bedroom ground floor condo, with walkout to pool and bar area.
            Superb furnishings in Tulum style and fully equipped kitchen.
            Great location.</p>
          <h4>Michael Dervan</h4>
          <span>Sobre Watal</span>
      </div>
      <div class="testimonio">
        <img src="/images/comilla.svg" />
        <p>Son departamentos muy cómodos seguros relajantes, y sobretodo con la ecología,
            muy  frescos  aparenta estar en una selva  es seguir y confiable</p>
          <h4>Joaquin Neria Diaz</h4>
          <span>Sobre Landare</span>
      </div>
      <div class="testimonio">
        <img src="/images/comilla.svg" />
        <p>Conocí un departamento para una persona, muy buen tamaño y con todos los servicios, bien ubicado.</p>
          <h4>Adria Peña Flores</h4>
          <span>Sobre Landare</span>
      </div>
      <div class="testimonio">
        <img src="/images/comilla.svg" />
        <p>Nice condo. Quiet and close to the beach. Lots of options to eat around.
            Great compromise between downtown (too busy)  and the beach front (too expensive).
        </p>
          <h4>Nombre Apellido</h4>
          <span>Sobre Watal</span>
      </div>
      <div class="testimonio">
        <img src="/images/comilla.svg" />
        <p>Buena ubicación y hermosos departamentos.</p>
          <h4>Rodrigo May</h4>
          <span>Sobre Watal</span>
      </div>
      
    </div>
  </section>

  <section id="section__divisor">
    <div class="column__1">
      {% if item.introImgDivisor %}
      <picture>
        {% for format, images in item.introImgDivisor %}
          <source srcset="{{ images | srcset }}" sizes="(max-width: 1200px) 100vw, 1200px" type="image/{{ format }}" />
        {% endfor %}
        <img src="{{ item.introImgDivisor.jpeg[0].url }}" alt="{{ item.introImg1Alt }}"
      /></picture>
      {% endif %}
    </div>
  </section>

  {% endfor %}
  {% include 'prefooter.njk' %}
</div>
