
<li class="card card__producto" >
  <a class="card__pic" href="/productos/{{ item.slug.current }}">
    <div class="card__logo"><img src="{{ item.logoImg.url }}" alt="{{ item.title }}" /></div>
    {% if item.tbImage %}
      <picture>
          {% for format, images in item.tbImage %}
          <source srcset="{{ images | srcset }}" sizes="(max-width: 600px) 100vw, 600px" type="image/{{ format }}">
          {% endfor %}
          <img src="{{ item.tbImage.webp[0].url }}" alt="{{ item.tbImageAlt }}">
      </picture>
    {% else %}
      <p>No hay imagen disponible para este desarrollo</p>
    {% endif %}
  </a>
  <div class="card__data">
    <a class="card__title" href="/productos/{{ item.slug.current }}">
      <span>{{ item.title }}</span>
      <span>{{ item.place }}</span>
    </a>
    {% if item.categories %}
      {% for category in item.categories %}
        <div class="card__category">
          <span>{{ category }}{% if not loop.last %}, {% endif %}</span>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</li>