<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
<script>
  hbspt.forms.create({
    portalId: "49027416",
    formId: "639dc3b5-093b-41b4-96cc-caf429937b83"
  });
</script>

<!--
<form id='form' class="column__1 flex__justify__c form" method="POST" data-netlify="true" action="/contacto/gracias" onsubmit="return validateForm()">
    <div class="column__2 width__100 pad__bottom__2">
        <div class="col__left pad__right__5">
            <label for="nombre" class="width__100">Nombre:</label>
            <input type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre" class="width__100 pad__all__2" required>
        </div>
        <div class="col__right">
            <label for="telefono" class="width__100">Teléfono:</label>
            <input type="tel" id="telefono" name="telefono" placeholder="Ingresa tu teléfono" class="width__100 pad__all__2" required>
        </div>
    </div>
    <div class="column__2 width__100 pad__bottom__2">
        <div class="col__left pad__right__5">
            <label for="email" class="width__100">Correo electrónico:</label>
            <input type="email" id="email" name="email" placeholder="Ingresa tu correo electrónico" class="width__100 pad__all__2" required>
        </div>
        <div class="col__right">
            <label for="ciudad" class="width__100">Ciudad / Estado:</label>
            <input type="text" id="ciudad" name="ciudad" placeholder="Ingresa tu ciudad" class="width__100 pad__all__2" required>
        </div>
    </div>
    <div class="column__2 width__100 pad__bottom__2">
        <div class="col__left pad__right__5">
            <label for="desarrollo-interes" class="width__100">Interes en:</label>
            <select id="desarrollo-interes" name="desarrollo-interes" class="width__100 pad__all__2" required>
                <option value="">Selecciona una opción</option>
                <option value="opcion1">Inversión de capital</option>
                <option value="opcion2">Comprar en uno de sus desarrollos</option>
                <option value="opcion3">Deseo ser contactado por un asesor</option>
            </select>
        </div>
        <div class="col__right">
            <label for="donde-supiste" class="width__100">Cómo supiste de nosotros:</label>
            <select id="donde-supiste" name="donde-supiste" class="width__100 pad__all__2" required>
                <option value="">Selecciona una opción</option>
                <option value="opcion1">A través de búsqueda en Google</option>
                <option value="opcion2">Desde Instagram</option>
                <option value="opcion3">Desde Facebook</option>
                <option value="opcion4">Por referencia de un conocido</option>
                <option value="opcion5">He comprado antes con ustedes</option>
            </select>
        </div>
    </div>
    <label for="comentarios" class="width__100">Comentarios (opcional):</label>
    <textarea id="comentarios" name="comentarios" placeholder="Ingresa tus comentarios" class="width__100 pad__all__1  pad__bottom__2"></textarea>
    <button type="submit" class="btn btn__secondary" style="margin-top: 20px;">Enviar mensaje</button>
</form>

<script>
    function validateForm() { // Sanitize user input
        var nombre = document
            .getElementById("nombre")
            .value
            .trim();
        var telefono = document
            .getElementById("telefono")
            .value
            .trim();
        var email = document
            .getElementById("email")
            .value
            .trim();
        var ciudad = document
            .getElementById("ciudad")
            .value
            .trim();
        var desarrolloInteres = document
            .getElementById("desarrollo-interes")
            .value
            .trim();
        var etapaDecision = document
            .getElementById("donde-supiste")
            .value
            .trim();
        var comentarios = document
            .getElementById("comentarios")
            .value
            .trim();
        // Check for script injection
        if (
            /<[^>]+>/.test(nombre) ||
            /<[^>]+>/.test(telefono) ||
            /<[^>]+>/.test(email) ||
            /<[^>]+>/.test(ciudad) ||
            /<[^>]+>/.test(desarrolloInteres) ||
            /<[^>]+>/.test(dondeSupiste) ||
            /<[^>]+>/.test(comentarios)
        ) {
            alert("No se permiten etiquetas HTML en los campos del formulario.");
            return false;
        }
        // Submit the form
        return true;
    }
</script>
-->