<ul role="list" class="nav__ul nav__ul__right">
    {% for item in menuDer %}
        <li>
            <a href="{{ item.url }}" class="{% if page.url == item.url %}active{% endif %}" >
                {{ item.name }}
            </a>
        </li>
    {% endfor %}
</ul>